@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.edit-btn {
    color: #629CC6;
    background-color: rgba(192,231,253,0.3);
}

.edit-btn i {
    transform: translateY(-1px);
}

.remove-btn {
    color: #F25379;
    background-color: rgba(253, 192, 206, 0.3);
}

.custom-btn {
    display: inline-flex;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
}

.custom-btn + .custom-btn {
    margin-left: 4px;
}

.table-hover-custom>tbody>tr {
    transition: all .5s;
}

.table-hover-custom>tbody>tr:hover {
    background-color: rgba(134, 153, 219, 0.08);
}

.quyen {
    color: #8699DB;
    background-color: rgba(212, 208, 255, 0.25);
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
}

.avatar.avatar-custom img {
    width: 240px;
    height: 240px;
}

.img-custom {
    width: 80px;
    height: 80px;
    border: 2px solid #c4d6dc;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
}

.img-custom img {
    width: 100%;
    height: 100%;
    transform: scale(1.64);
}

.custom-padding-inline {
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
}

.padding-0 {
    padding: 0 !important;
}

.visible-invalid ~ .invalid-feedback {
    display: block;
}

.null-feedback {
    text-align: center;
    margin-top: 50px;
}

.stt::before {
    content: attr(data-stt);
    position: absolute;
    top: 50%;
    left: -20px;
    width: 15px;
    height: 16px;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    opacity: .7;
}

.bookname {
    position: relative;
    display: flex;
}

.bookname:hover::before {
    opacity: 1;
    visibility: visible;
    flex: 1;
}

.bookname::before {
    opacity: 0;
    display: block;
    visibility: hidden;
    content: attr(data-bookname);
    position: absolute;
    top: -24px;
    left: 50%;
    flex: 0.1;
    min-width: 50px;
    max-width: 300px;
    border-radius: 6px;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: all .5s;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ma-pm::after {
    content: attr(data-pm);
    padding: 1.25px 8px;
    position: absolute;
    top: -24px;
    left: -22px;
    background-color: #ebf3ff;
    color: #001a7b;
    font-size: 10px;
    border-radius: 0 0 4px 4px;
    font-weight: bold;
}

.qua_han {
    background-color: #fff5f5;
}

.qua_han:hover {
    background-color: #ffecec !important;
}

.qua_han_txt::after {
    content: "Quá hạn";
    display: block;
    position: center;
    bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #009dff;
}

.select-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.select-box .options-container {
    background-color: #fff;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    position: absolute;
    order: 1;
    box-shadow: 0 0 3px rgba(134, 153, 219, 0.6);
    z-index: 2;
}

.selected {
    position: relative;
    order: 0;
}

.select-box .options-container.active {
    max-height: 200px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 110px;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 0px;
    border-radius: 0 2px 2px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
    border-radius: 0 2px 2px 0;
}

.select-box .option label,
.selected {
    display: block;
    height: 100%;
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background-color: rgba(134, 153, 219, 0.08);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Searchbox */

.search-box input {
    margin-top: 10px;
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;

    border: 1px solid #dce7f1;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
}

.padding-10 {
    padding-block: 11px;
}

.row > .label {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.b-item {
    background-color: rgba(134, 153, 219, 0.08);
    border-radius: 8px;
    padding: 12px 16px;
    max-width: 520px;
    margin-left: 14px;
}

.b-item + .b-item {
    margin-top: 12px;
}

.sm-check input {
    height: 14px;
    width: 14px;
    margin-top: 6px;
    margin-right: 4px !important;
}

.sm-check label {
    font-size: 14px;
}

.custom-tk {
    min-height: 84vh;
    display: grid;
    place-content: center;
    grid-template-areas:
    "div1 div2 div3"
    "div4 div2 div3"
    "div5 div5 div3"
    "div5 div5 div3";

    grid-gap: 15px;
}

.custom-tk > div {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(192,231,253,0.6);
    transition: all .5s;
    z-index: 1;
}

.custom-tk > div:hover {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 36px 24px 50px 13px rgba(192,231,253,0.3);
    z-index: 30;
}

.custom-tk > .div2,
.custom-tk > .div3,
.custom-tk > .div1 {
    min-width: 300px;
}

.custom-tk > .div1,
.custom-tk > .div4 {
    display: flex;
    align-items: center;
}

.custom-tk > .div5 {
    max-height: 500px;
}
.custom-tk > .div3 {
    max-height: 550px;
}

.ic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ic.ic-grey {
    background-color: #eeebff;
}

.ic.ic-grey i {
    color: #553bfc;
}


.ic i {
    font-size: 20px;
    transform: translate(-2px, -2px);
}

.big-text {
    margin-left: 20px;
}

.big-size {
    font-size: 46px;
    transform: scaleX(1.2) translateX(10px);
    font-family: 'Anton', sans-serif;
}

.nor-size {
    font-size: 16px;
    opacity: .7;
}

.ic.ic-light-blue i{
    color: #0ec6f9;
}
.ic.ic-light-blue{
    background-color: #e5f9fe;
}

.custom-size {
    font-size: 14px;
    font-weight: bold;
}

.custom-size-16 {
    font-size: 16px;
    font-weight: bold;
}

.card-body-custom {}


